{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

<section
	class="tab standard-form {{tab.id}} {{tab.cssClass}}"
	data-group="{{tab.group}}"
	data-tab="{{tab.id}}"
>
	{{! Dread Power Type }}
	{{#if (ne system.type.value "custom")}}
		{{curse-formGroup systemFields.type.fields.value formGroupOptions}}
	{{else}}
		<fieldset class="type">
			<legend>{{localize "CURSEBORNE.Item.DreadPower.FIELDS.type.label"}}</legend>
			{{curse-formGroup systemFields.type.fields.value formGroupOptions}}
			{{curse-formGroup systemFields.type.fields.custom formGroupOptions}}
		</fieldset>
	{{/if}}

	{{! Required Injuries Level }}
	{{curse-formGroup systemFields.injuries formGroupOptions}}

	{{! Uses }}
	<fieldset class="uses">
		<legend>{{localize "CURSEBORNE.Item.DreadPower.FIELDS.uses.label"}}</legend>
		{{curse-formGroup systemFields.uses.fields.value formGroupOptions}}
		{{curse-formGroup systemFields.uses.fields.max formGroupOptions}}
	</fieldset>
</section>
