{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

<section
	class="tab standard-form {{tab.id}} {{tab.cssClass}}"
	data-group="primary"
	data-tab="{{tab.id}}"
>
	{{! Path Skills }}
	{{curse-formGroup
    systemFields.skills
    formGroupOptions
    options=skills.options}}

	{{! Torment }}
	{{#if item.isEmbedded}}
		<div class="form-group torment">
			<label for="{{rootId}}.torment">{{localize "TYPES.Item.torment"}}</label>
			<div class="form-fields items-list">
				{{#if torment}}
					<li class="item flexrow" data-item-id="{{torment.id}}">
						<div class="item-image">
							<img src="{{torment.img}}" alt="{{torment.name}}" width="24" height="24" />
						</div>
						<span class="item-name">{{torment.name}}</span>
						<div class="item-controls">
							{{#if isEditMode}}
								<button
									type="button"
									class="item-control unbutton"
									data-tooltip
									aria-label="{{localize 'CURSEBORNE.ContextMenu'}}"
									data-action="contextMenu"
								>
									<i class="fa-solid fa-fw fa-ellipsis-vertical"></i>
								</button>
							{{/if}}
						</div>
					</li>
				{{else}}
					{{#if isEditMode}}
						<button
							type="button"
							class="add-item"
							data-action="createDoc"
							data-type="torment"
							data-system-type="lineage"
							data-system-lineage="{{system.identifier}}"
						>
							<i class="fa-solid fa-plus"></i>
							<span>{{localize "DOCUMENT.Create" type=(localize 'TYPES.Item.torment')}}</span>
						</button>
					{{else}}
						<span>{{localize "CURSEBORNE.None"}}</span>
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{/if}}

	<fieldset class="enriched-field damnation">
		<legend>{{localize "CURSEBORNE.Item.Path.FIELDS.damnation.label"}}</legend>
		{{{damnation.enriched}}}
		<button
			type="button"
			class="edit-text"
			data-action="editText"
			data-field="damnation"
			data-tooltip
			aria-label="{{localize 'CURSEBORNE.Edit'}}"
		>
			<i class="fa-solid fa-fw fa-edit"></i>
		</button>
	</fieldset>

	<fieldset class="enriched-field inheritance">
		<legend>{{localize "CURSEBORNE.Item.Path.FIELDS.inheritance.label"}}</legend>
		{{{inheritance.enriched}}}
		<button
			type="button"
			class="edit-text"
			data-action="editText"
			data-field="inheritance"
			data-tooltip
			aria-label="{{localize 'CURSEBORNE.Edit'}}"
		>
			<i class="fa-solid fa-fw fa-edit"></i>
		</button>
	</fieldset>

	{{! Advanced Fields }}
	<fieldset class="advanced">
		<legend>{{localize "CURSEBORNE.Advanced"}}</legend>
		{{
			curse-formGroup
			systemFields.identifier
			formGroupOptions
			value=identifier.value placeholder=identifier.placeholder
		}}
	</fieldset>
</section>
