{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

{{! Spell Details Tab }}
<section class="tab details standard-form {{tab.cssClass}}" data-group="primary" data-tab="details">
	<dl class="wide">
		<dt>{{localize "CURSEBORNE.Item.Spell.FIELDS.practice.label"}}</dt>
		<dd>{{practice.value}}</dd>
	</dl>
	{{curse-formGroup systemFields.group formGroupOptions labelAttr="label"}}
	{{curse-formGroup systemFields.attunements formGroupOptions}}

	<fieldset class="cost">
		<legend>{{localize "CURSEBORNE.Item.Spell.FIELDS.cost.type.label"}}</legend>
		{{curse-formGroup systemFields.cost.fields.type formGroupOptions}}
		{{curse-formGroup systemFields.cost.fields.value formGroupOptions}}
	</fieldset>

	<fieldset class="advance">
		<legend>{{localize "CURSEBORNE.Item.Spell.Advance"}}</legend>
		{{curse-formGroup systemFields.advances formGroupOptions}}
		{{curse-formGroup systemFields.entanglement formGroupOptions}}
		{{curse-formGroup systemFields.cost.fields.additional formGroupOptions}}
	</fieldset>

	{{! Advanced Fields }}
	<fieldset class="advanced">
		<legend>{{localize "CURSEBORNE.Advanced"}}</legend>
		{{
			curse-formGroup systemFields.identifier formGroupOptions value=identifier.value placeholder=identifier.placeholder
		}}
	</fieldset>
</section>
