{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="details">
	{{! Type Config }}
	<fieldset class="type">
		<legend>{{localize "CURSEBORNE.Item.Trick.FIELDS.type.label"}}</legend>
		{{curse-formGroup systemFields.type formGroupOptions}}
		{{curse-formGroup systemFields.multiple formGroupOptions}}
	</fieldset>

	{{! Cost Config}}
	<fieldset class="cost">
		<legend>{{localize "CURSEBORNE.Item.Trick.FIELDS.cost.label"}}</legend>
		{{curse-formGroup systemFields.cost.fields.type formGroupOptions}}

		{{! Fixed Cost }}
		{{#if (eq system.cost.type "fixed")}}
			{{
				curse-formGroup systemFields.cost.fields.value formGroupOptions min=-1 max=system.cost.max type="number"
			}}
		{{/if}}

		{{! Variable Cost }}
		{{#if (eq system.cost.type "variable")}}
			{{curse-formGroup systemFields.cost.fields.min formGroupOptions}}
			{{curse-formGroup systemFields.cost.fields.max formGroupOptions}}
		{{/if}}
	</fieldset>

	{{! Advanced Fields }}
	<fieldset class="advanced">
		<legend>{{localize "CURSEBORNE.Advanced"}}</legend>
		{{
			curse-formGroup
			systemFields.identifier
			formGroupOptions
			value=identifier.value placeholder=identifier.placeholder
		}}
	</fieldset>
</section>
