{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

{{! Biography Tab }}
<section
	class="tab biography standard-form {{tab.cssClass}}"
	data-group="primary"
	data-tab="biography"
>
	{{! Torments }}
	{{#if hasTorments}}
		<fieldset class="torments">
			<legend class="flexrow">
				<span>{{localize "CURSEBORNE.Item.Torment.label.other"}}</span>
				{{#if isEditMode}}
					<button
						type="button"
						class="unbutton"
						data-action="createDoc"
						data-tooltip
						data-type="torment"
						aria-label="{{localize 'DOCUMENT.Create' type=(localize 'TYPES.Item.torment')}}"
					>
						<i class="fa-solid fa-plus"></i>
					</button>
				{{/if}}
			</legend>

			<ul class="motifs items-list unlist grid grid-3col">
				{{#each torments}}
					<li
						class="motif item flexrow"
						data-item-id="{{item.id}}"
						data-drag
						data-tooltip="{{tooltip}}"
					>
						<div class="item-name">
							{{#if mismatchedLineage}}
								<i
									class="fa-solid fa-fw fa-link-slash"
									data-tooltip='{{localize "CURSEBORNE.Item.Lineage.MismatchWarning"}}'
									aria-label='{{localize "CURSEBORNE.Item.Lineage.MismatchWarning"}}'
								>
								</i>
							{{else}}
								<img
									class="item-image align-right flexshrink"
									src="{{img}}"
									alt="{{item.name}}"
									width="30"
									height="30"
								>
							{{/if}}
							<h4 class="item-name">{{item.name}}</h4>
						</div>
						{{#if @root.editable}}
							<a class="item-control" data-action="contextMenu">
								<i class="fa-solid fa-fw fa-ellipsis-v"></i>
							</a>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</fieldset>
	{{/if}}

	{{! Aspirations }}
	{{#if aspirations}}
		<fieldset class="aspirations">
			<legend>
				{{localize
                "CURSEBORNE.Actor.Accursed.FIELDS.aspirations.label"}}
			</legend>
			{{#each aspirations}}
				<div class="form-group aspiration" data-aspiration="{{key}}">
					<label for="{{id}}" data-tooltip aria-label="{{labelLong}}">{{labelShort}}</label>
					<div class="form-fields" id="{{id}}">{{{value}}}</div>
					<button
						type="button"
						class="edit-text"
						data-action="editText"
						data-field="aspirations.{{key}}"
						data-tooltip
						aria-label="{{localize 'CURSEBORNE.Edit'}}"
					>
						<i class="fa-solid fa-fw fa-edit"></i>
					</button>
				</div>
			{{/each}}
		</fieldset>
	{{/if}}

	{{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
	<div class="biography-content">
		{{{enrichedBiography}}}
		<button
			type="button"
			class="edit-text"
			data-action="editText"
			data-field="biography"
			data-tooltip
			aria-label="{{localize 'CURSEBORNE.Edit'}}"
		>
			<i class="fa-solid fa-fw fa-edit"></i>
		</button>
	</div>
</section>
