{{!--
SPDX-FileCopyrightText: © 2025 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: LicenseRef-CopyrightEthaks
--}}

{{! Inline template for individual spell }}
{{#*inline "spell"}}
	<li
		class='item spell flexrow {{ifThen isAdvance "advance" ""}}'
		data-item-id="{{item.id}}"
		data-flip-id="{{@root.rootId}}-{{item.id}}"
	>
		<div class="item-name flexrow" data-tooltip="{{tooltip}}">
			<div class="item-image">
				<a class="rollable" data-roll-type="item">
					<img src="{{item.img}}" alt="{{item.name}}" width="24" height="24" />
				</a>
			</div>
			<span>{{item.name}}</span>
		</div>

		{{! Cost }}
		<div class="spell-cost" data-tooltip="{{costLong}}">
			{{#if item.system.cost.additional}}
				<i class="fa-solid fa-plus"></i>
			{{/if}}
			{{#if item.system.cost.value}}
				<i class="{{costIcon}}"></i>
				<span class="cost-value">{{{cost}}}</span>
			{{/if}}
		</div>

		{{! Attunements }}
		<div class="spell-attunements flexrow" data-tooltip="{{attunements}}">{{attunements}}</div>

		{{! Controls }}
		<div class="item-controls">
			{{#if @root.editable}}
				<a class="item-control item-delete" data-action="deleteDoc">
					<i class="fa-solid fa-trash"></i>
				</a>
			{{/if}}
			<a class="item-control" data-action="contextMenu" data-tooltip="CURSEBORNE.ContextMenu">
				<i class="fa-solid fa-fw fa-ellipsis-v"></i>
			</a>
		</div>
	</li>
{{/inline}}

{{! Spells Tab }}
<section class="tab spells standard-form {{tab.cssClass}}" data-group="primary" data-tab="spells">
	<div class="motifs-clash flexrow">
		{{! Motifs }}
		<fieldset class="motifs grid grid-3col">
			<legend class="flexrow">
				<span>
					{{localize "CURSEBORNE.Item.Motif.label.other"}}
				</span>
				{{#if isEditMode}}
					<button
						type="button"
						class="unbutton"
						data-action="createDoc"
						data-tooltip
						data-type="motif"
						data-system-family="{{system.family.system.identifier}}"
						aria-label="{{localize 'DOCUMENT.Create' type=(localize 'TYPES.Item.motif')}}"
					>
						<i class="fa-solid fa-plus"></i>
					</button>
				{{/if}}
			</legend>
			<ul class="motifs items-list unlist grid grid-3col">
				{{#each motifs}}
					<li
						class="motif item flexrow"
						data-item-id="{{item.id}}"
						data-drag
						data-tooltip="{{tooltip}}"
					>
						<div class="item-name">
							{{#if mismatchedFamily}}
								<i
									class="fa-solid fa-fw fa-link-slash"
									data-tooltip='{{localize "CURSEBORNE.Item.Motif.MismatchWarning"}}'
									aria-label='{{localize "CURSEBORNE.Item.Motif.MismatchWarning"}}'
								>
								</i>
								&nbsp
							{{/if}}
							<h4 class="item-name">{{item.name}}</h4>
						</div>
						{{#if @root.editable}}
							<a class="item-control" data-action="contextMenu">
								<i class="fa-solid fa-fw fa-ellipsis-v"></i>
							</a>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</fieldset>

		{{! Roll Clash Button }}
		<fieldset class="clash">
			<legend>{{localize "CURSEBORNE.Clash"}}</legend>
			<button type="button" data-action="rollClash">
				<i class="fa-solid fa-dice-d10"></i> {{localize "CURSEBORNE.RollClash"}}
			</button>
		</fieldset>
	</div>

	{{! Spell Search Bar }}
	<search class="flexrow" data-search="spells">
		{{! Search Mode Toggle}}
		<button type="button" class="inline-control toggle-search-mode icon" data-action="toggleSearch">
		</button>

		{{! Search Input}}
		<input
			type="search"
			name="spell-search"
			class="spell-search"
			placeholder='{{localize "Search"}}'
		>

		{{! Sort Options }}
		<div class="sorting flexrow">
			<div class="sort-option">
				<input
					type="radio"
					id="{{@root.rootId}}.ui.spellSorting"
					value="grouped"
					{{disabled (not isEditable)}}
					name="system.ui.spellSorting"
					{{checked (eq spells.sorting "grouped")}}
				>
				<label
					for="{{@root.rootId}}.ui.spellSorting"
					class='{{ifThen (not isEditable) "disabled" ""}}'
					data-tooltip
					aria-label='{{localize "CURSEBORNE.Item.Spell.SORTING.grouped"}}'
				>
					<i class="fa-solid fa-layer-group"></i>
				</label>
			</div>

			<div class="sort-option">
				<input
					type="radio"
					id="{{@root.rootId}}.ui.spellSorting.flat"
					value="flat"
					name="system.ui.spellSorting"
					{{disabled (not isEditable)}}
					{{checked (eq spells.sorting "flat")}}
				>
				<label
					for="{{@root.rootId}}.ui.spellSorting.flat"
					class='{{ifThen (not isEditable) "disabled" ""}}'
					data-tooltip
					aria-label='{{localize "CURSEBORNE.Item.Spell.SORTING.flat"}}'
				>
					<i class="fa-solid fa-list"></i>
				</label>
			</div>
		</div>
	</search>

	{{! Spells }}
	{{#if (eq spells.sorting "grouped")}}
		{{#each spells.practices}}
			{{! Each Practice gets its own box }}
			<section class="items-section practice boxed-list">
				{{! Practice Header }}
				<div class="items-header header">
					<h3 class="item-name">{{localize label}}</h3>
				</div>

				{{! Practice Spells, sorted by group }}
				{{#each groups}}
					<ol class="items-list unlist group">
						{{! Group Header }}
						<div class="items-header header">
							<h4 class="item-name group-header">{{localize label}}</h4>
						</div>

						{{#each spells}}
							{{! Core Spell }}
							{{> spell this}}

							{{#each advances}}
								{{! Spell Advances }}
								{{> spell this}}
							{{/each}}
						{{/each}}
					</ol>
				{{/each}}
			</section>
		{{/each}}
	{{/if}}

	{{#if (eq spells.sorting "flat")}}
		<ol class="items-list unlist">
			{{#each spells.spells}}
				{{> spell this}}

				{{#each advances}}
					{{! Spell Advances }}
					{{> spell this}}
				{{/each}}
			{{/each}}
		</ol>
	{{/if}}

	{{#if editable}}
		<button type="button" class="item-create" data-action="createDoc" data-type="spell">
			<i class="fa-solid fa-plus"></i>
		</button>
	{{/if}}
</section>
